.container_add_trip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.header_container {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	margin: 10px;
	padding-top: 5px;
	padding-left: 10px;
}

.container {
	height: 100%;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 340px;
	/* padding: 10px; */
	/* height: 1070px; */
}

.textarea_add_trip {
	width: 100%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background-color: var(--clr-0);
	resize: none;
	font-family: var(--font-family);
	margin-top: 10px;
	font-size: var(--fs-label);
	font-weight: var(--font-medium);
}

.input_add_trip {
	border: 2px solid var(--clr-2);
	border: none;
	border-radius: 5px;
	font-family: var(--font-family);
	font-size: var(--fs-label);
	box-shadow: var(--shadowColor);
	width: 100%;
	padding: 5px;
	text-indent: 3px;
}

.input_add_title {
	width: 100%;
	border-bottom: 2px solid var(--clr-main-dark);
	border-top: none;
	border-right: none;
	border-left: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
	margin-top: 5px;
	font-family: var(--font-family);
	font-size: var(--fs-label);
}

.small_notes {
	font-size: var(--fs-small-text);
	margin: 3px;
}

.tags_container .small_notes {
	display: block;
	width: 100%;
}

.buttons_form {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 10px;
}

.dates {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
}

.places {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
}

.labels {
	font-size: var(--fs-p);
	font-weight: bolder;
	margin-bottom: 5px;
}

.labels_tag {
	font-size: var(--fs-p);
	font-weight: bolder;
	text-align: left;
}

.add_trip_header {
	text-align: center;
	margin: 5px;
}

.button_back_container {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 50px;
	margin-bottom: 10px;
}

.button_back {
	display: flex;
	justify-content: center;
	height: var(--fs-h3);
	width: var(--fs-h3);
	border: none;
	background-color: transparent;
}

.modal_container {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 360px;
	height: 800px;
	backdrop-filter: blur(3px);
}

.modal {
	background: var(--clr-0);
	border: 1px solid var(--clr-10);
	width: 300px;
}

.modal_header {
	text-align: center;
	width: 100%;
	padding: 10px 5px;
	font-size: var(--fs-h4);
}

.modal_content {
	text-align: center;
	width: 100%;
	padding: 10px 5px;
}

.close_sign {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: 15px;
	top: 260px;
	font-size: 24px;
	background: var(--clr-0);
	border-radius: 18px;
	border: 1px solid var(--clr-4);
}

.actions_container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.button_actions {
	display: inline;
	background-color: var(--clr-main-dark);
	color: var(--clr-0);
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
	margin: 10px;
	height: 55px;
	width: 180px;

	border: none;
	border-radius: 5px;
	font-size: var(--fs-h3);
	font-family: var(--font-family);
	font-weight: var(--font-medium);
}

.button_cancel,
.button_add {
	background-color: var(--clr-4);
	color: var(--clr-0);
	width: 135px;
	height: 40px;
	border: none;
	border-radius: 5px;

	font-family: var(--font-family);
	font-size: var(--fs-h3);
	font-weight: var(--font-medium);
	margin: 10px;
}

.button_cancel {
	border: 2px solid var(--clr-main-dark);
	background-color: transparent;
	color: var(--clr-main-dark);
	cursor: pointer;
}

.button_add {
	color: var(--clr-bg);
	background-color: var(--clr-main-dark);
}

input[type='date']:required:invalid::-webkit-datetime-edit {
	color: transparent;
}
input[type='date']:focus::-webkit-datetime-edit {
	color: black !important;
}

.dates_container,
.places_container,
.participants_container,
.budget_container,
.tags_container,
.describtion_container,
.title_container {
	border-style: none;
	padding: 10px;
	border-radius: 8px;
	margin-top: 10px;
	background-color: var(--clr-main-light-transparent);
}

.title_container {
	margin-top: 20px;
}

.trip_photo {
	width: 170px;
	height: 190px;
	border-radius: 4px;
	object-fit: cover;
}

.icon_trip_photo {
	height: 25px;
}

.photo_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add_photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--clr-main-dark);
	border-radius: 4px;
	width: 170px;
	height: 190px;
	margin: 5px;
}

.add_photo_plus {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	padding: 4px;
	color: var(--clr-bg);
	background-color: var(--clr-orange);
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	transform: translate(305%, -58%);
}

.add_photo_icon {
	height: 50px;
}

.participants {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hint {
	display: flex;
	flex-direction: row;
	border: solid 1px var(--clr-orange);
	background-color: var(--clr-orange);
	color: var(--clr-0);
	width: 19px;
	height: 19px;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	margin-bottom: 2px;
}

.hint:before {
	content: '?';
	font-family: var(--font-family);
	color: var(--clr-0);
}

.hint:hover p {
	display: block;
	transform-origin: 100% 0%;
}

.hint p {
	display: none;
	font-family: var(--font-family);
	opacity: 0.9;
	text-align: center;
	background-color: var(--clr-0);
	padding: 12px 16px;
	height: 60px;
	width: 210px;
	position: absolute;
	transform: translate(-27%, 55%);
	left: 50%;
	border-radius: 5px;
	color: var(--clr-10);
	font-size: var(--fs-small-text);
	z-index: 99;
	border: solid 1px var(--clr-orange);
}
