.container {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input:not(:last-of-type) {
    margin-bottom: 10px;
}

.form button {
    margin-top: 10px;
}