.container {
	width: 100%;
	height: 100%;
	padding-inline: 2em;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('/assets/onboarding 1.png');
}

.header {
	gap: 45px;
	width: -webkit-fill-available;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--clr-0);
	margin-top: 10px;
}

.arrow {
	width: 30px;
	height: 22px;
}

.form {
	width: 100vw;
	background-color: var(--clr-bg);
	position: absolute;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.relative {
	position: relative;
	padding-inline: 40px;
	width: 100vw;
	max-width: 600px;
}

.data {
	background-color: var(--clr-main-light);
	color: var(--clr-0);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
}

.info {
	position: relative;
	padding-top: 70px;
}

.label {
	margin-top: 10px;
	width: 100%;
	font-size: var(--fs-label);
	color: var(--clr-main-dark);
	font-weight: var(--font-medium);
}

.input {
	height: 45px;
	width: 100%;
	border-bottom: 3px solid var(--clr-main-dark);
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	margin-bottom: 30px;
	font-family: var(--font-family);
}

.input[type='date'] {
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.input[type='password'] {
	margin-bottom: 0px;
}

.input[type='radio'] {
	width: 20px;
	height: 20px;
}

.gender {
	margin-right: 44px;
	margin-left: 4px;
	font-size: var(--fs-label);
}

.relative p,
.relative p:not(:first-of-type) {
	font-size: var(--fs-small-text);
	margin-top: 5px;
	width: -webkit-fill-available;
}

.relative p {
	margin-bottom: 25px;
}

.checkBox {
	width: -webkit-fill-available;
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.button {
	margin-top: 30px;
	padding-bottom: 30px;
}
