.tags_container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
	padding: 10px 0;
}

.tag {
	border: 1px solid var(--clr-main-dark);
	font-size: var(--fs-tags);
	padding: 4px 8px;
	color: var(--clr-main-dark);
	border-radius: 8px;
	font-family: var(--font-family);
	background-color: transparent;
}

/* .tag:hover {
    background-color: var(--clr-main-dark-transparent);
} */

.tag_selected {
	background-color: var(--clr-main-dark-transparent);
}
