.GrayButton {
  background-color: var(--clr-4);
  color: var(--clr-0);
  height: 64px;
  width: 200px;

  border: none;
  border-radius: 5px;

  font-family: var(--font-family);
  font-size: var(--fs-h2);
  font-weight: var(--font-medium);
}
