.GrayButton {
	background-color: var(--clr-main-dark);
	color: var(--clr-0);
	height: 50px;
	width: 250px;

	border: none;
	border-radius: 7px;

	font-family: var(--font-family);
	font-size: var(--fs-h3);
	font-weight: var(--font-medium);
}
