.layout {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 40px 1fr 70px;
	grid-template-areas:
		'navbar'
		'page_content'
		'footer';
}

.navbar {
	grid-area: navbar;
	background-color: var(--clr-main-light);
	background-color: var(--clr-bg);
	box-shadow: 0 3px 5px var(--clr-shadow);
}

.page_content {
	grid-area: page_content;
}

.footer {
	grid-area: footer;
	position: sticky;
	bottom: 0;
	background-color: var(--clr-bg);
	box-shadow: 0 -5px 10px var(--clr-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
}

.titleBox {
	display: flex;
}
