.layout {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 40px 1fr 80px;
	grid-template-areas:
		'navbar'
		'page_content'
		'footer';

	background-color: var(--clr-main-light);
}

.navbar {
	grid-area: navbar;
}

.page_content {
	grid-area: page_content;
	padding-top: 10px;

	/* background-color: var(--clr-main-light); */
}

.footer {
	grid-area: footer;
	background-color: var(--clr-bg);
	position: sticky;
	bottom: 0;
}
