.container {
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../../src/assets/onboarding 1.png');
	background-position-x: 35%;
	background-position-y: 70%;
}

.greetingBox {
	background-color: var(--clr-white-transparent);
	width: 100%;
	padding: 5px 10px;
	border-radius: 15px;
}

.greeting {
	font-size: var(--fs-h4);
}

.greeting span {
	font-size: var(--fs-h2);
}

.hexagon {
	position: relative;
	display: inline-block;
	margin: 2px 19px;
	background-color: var(--clr-0);
	text-align: center;
}

.hexagon,
.hexagon::before,
.hexagon::after {
	width: 67px;
	height: 116px;
	border-radius: 0.5rem/0.25rem;
}

.hexagon::before {
	background-color: inherit;
	content: '';
	position: absolute;
	left: 0;
	transform: rotate(-60deg);
}
.hexagon::after {
	background-color: inherit;
	content: '';
	position: absolute;
	left: 0;
	transform: rotate(60deg);
}
.hexagon:nth-child(even) {
	top: 59px;
}

.hexagontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 140%;
	font-size: var(--fs-small-text);
	font-weight: var(--font-bold);
	line-height: 1.2;
	z-index: 100;
}

.hexagontent span {
	font-size: 24px;
}

.ibwsfix {
	font-size: 0;
}
.honeycomb {
	margin: 25px;
	text-align: center;
}

:-webkit-any-link {
	text-decoration: none;
}

.linkshx {
	display: grid;
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;
	color: var(--clr-main-dark);
}

.linkshx img {
	height: 45px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
