.container {
	padding: 10px;
}

.user_profile_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	font-family: var(--font-family);
}

.user_photo_box {
	position: relative;
	height: 170px;
	width: 170px;
	/* padding: 5px; */
	border: 10px solid var(--clr-grey);
	/* border: 5px solid var(--clr-main-light); */
	border-radius: 50%;
}

.user_photo {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.link_edit {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	width: 30px;
	height: 30px;
	padding: 5px;
	background-color: var(--clr-grey);
	border-radius: 5px;
}

.icon_edit_photo {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 30px;
	width: 30px;
	padding: 4px;
	color: var(--clr-bg);
	background-color: var(--clr-orange);
	border: 1px solid var(--clr-orange);
	border-radius: 5px;
}

.user_data_box {
	width: 100%;
	border-radius: 10px;
	padding: 5px;
	background-color: var(--clr-main-light-transparent);
	font-size: var(--fs-h2);
	font-weight: var(--font-bold);
}

.user_city_content {
	font-size: var(--fs-h3);
	align-self: center;
	background-color: var(--clr-white-transparent);
	width: fit-content;
	padding: 5px 10px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	gap: 6px;
}

.icon_city {
	height: 20px;
}

.legend {
	padding: 10px;
	font-size: var(--fs-h4);
	font-weight: var(--font-bold);
	position: relative;
	top: 20px;
}

.user_about {
	background-color: var(--clr-white-transparent);
	width: 100%;
	padding: 5px 10px;
	border-radius: 15px;
	font-size: var(--fs-p);
}
