.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

.navLogo {
	display: flex;
}

img {
	display: block;
	height: 100%;
}
