.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: center; */
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

.navLogo {
	display: flex;
	align-items: center;
}

img {
	display: block;
	height: 100%;
}

.name {
	font-size: var(--fs-h1);
	line-height: var(--fs-h1);
}

.logoutBtn {
	background-color: transparent;
	color: var(--clr-main-dark);
	border: none;
	font-family: var(--font-family);
	font-size: var(--fs-small-text);
	line-height: var(--fs-h1);
}
