.pageContent {
	width: 100vw;
	padding: 10px;
}

.container {
	padding: 10px;
	background-color: var(--clr-main-light-transparent);
	border: 1px solid var(--clr-main-dark);
	border-radius: 10px;
}

.container p {
	font-size: var(--fs-p);
	margin-top: 0;
}

.tripsList {
	list-style: none;
}

.filtersBox {
	display: flex;

	margin-bottom: 10px;
	flex-wrap: wrap;
}

.searchbarBox {
	display: flex;
	height: 50px;
	width: 85%;
	border: 1px solid var(--clr-main-dark);
	border-radius: 8px;
	overflow: hidden;
}

.searchbarInput {
	height: 100%;
	width: 85%;
	padding: 10px;
	border: none;
	font-family: var(--font-family);
	font-size: var(--fs-p);
}

.searchbarInput:focus {
	outline: none;
}

.searchbarInputIcon,
.filtersBtn {
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 15px;
	border: none;
	cursor: pointer;
}

.searchbarInputIcon {
	width: 15%;
	background-color: var(--clr-bg);
}

.filtersBtn {
	height: 50px;
	width: 15%;
	background-color: transparent;
}
