.container {
	width: 100vw;
	padding: 10px;
	background-color: var(--clr-main-light-transparent);
}

.container .containerul {
	width: 100%;
}

.container p {
	font-size: var(--fs-p);
	margin-top: 0;
}
