.additionalFiltersContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 10px 0;
	border-radius: 8px;
}

.filtersGroupBox {
	width: 100%;
	border-bottom: 1px solid var(--clr-main-light);
}

.filtersGroupTitle {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 5px 0;
}

.filtersGroupBtn {
	width: 24px;
	padding: 4px;
	color: var(--clr-bg);
	background-color: var(--clr-orange);
	border: 1px solid var(--clr-orange);
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
}

.filtersGroup {
	display: grid;
	grid-template-columns: 20% 1fr;
	align-items: center;
	row-gap: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.filtersCountriesGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.inputBox {
	border-radius: 8px;
	overflow: hidden;
	height: 35px;
	display: flex;
	align-items: center;
}

.selectBox {
	width: 100%;
	height: 35px;
	margin: 5px 0;
	padding-right: 8px;
	border-radius: 8px;
	background-color: var(--clr-bg);
}

.countiesSelect {
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

.countiesSelect option {
	background-color: var(--clr-bg);
}

.selectedCountiesList {
	list-style: none;
	width: 100%;
	margin-bottom: 5px;
}

.selectedCountiesList li {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2px;
}

.removeSelectedCountry {
	display: block;
	width: 20px;
	padding: 3px;
	border: none;
	background-color: transparent;
}

.removeSelectedCountry img {
	display: block;
	width: 100%;
}

.countiesSelect,
.budgetInput,
.dateInput {
	padding: 5px 10px;
	border: none;
	font-family: var(--font-family);
	font-size: var(--fs-p);
}

.countiesSelect:focus,
.budgetInput:focus,
.dateInput:focus {
	outline: none;
}

.budgetInput {
	width: 85%;
}

.dateInput {
	width: 100%;
}

.inputBox p {
	display: inline-block;
	width: 15%;
	height: 100%;
	padding: 5px;
	background-color: var(--clr-bg);
	text-align: center;
}

.confirmBtn {
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding: 3px 6px;
	border-radius: 8px;
	font-family: var(--font-family);
	font-size: var(--fs-p);
	border: 2px solid var(--clr-main-dark);
	background-color: var(--clr-main-dark);
	color: var(--clr-bg);
	cursor: pointer;
}
