.additionalFiltersContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 10px 0;
	/* background-color: var(--clr-bg); */
	border-radius: 8px;
}

.filtersGroupBox {
	width: 100%;
	border-bottom: 1px solid var(--clr-main-light);
}

.filtersGroupTitle {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 5px 0;
}

.filtersGroupBtn {
	width: 24px;
	padding: 4px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* width: 26px;
	height: 26px; */
	color: var(--clr-bg);
	background-color: var(--clr-orange);
	border: 1px solid var(--clr-orange);
	border-radius: 5px;
	font-size: 20px;
	font-weight: 500;
}

.filtersGroup {
	display: grid;
	grid-template-columns: 20% 1fr;
	align-items: center;
	row-gap: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.inputBox {
	border-radius: 8px;
	overflow: hidden;
	height: 35px;
	display: flex;
	align-items: center;
	/* width: 100%; */
}

.inputBox input {
	width: 85%;
	padding: 5px 10px;
	border: none;
	font-family: var(--font-family);
	font-size: var(--fs-p);
}

.inputBox input:focus {
	outline: none;
}

.inputBox p {
	display: inline-block;
	width: 15%;
	height: 100%;
	padding: 5px;
	background-color: var(--clr-bg);
	text-align: center;
	/* vertical-align: baseline; */
	/* line-height: var(--fs-p); */
}

/* .inputBoxInfo {
	display: inline;
	width: 10%;
} */

/* .inputBux input,
.inputBux p {
	display: inline;
} */

.confirmBtn {
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding: 3px 6px;
	border-radius: 8px;
	font-family: var(--font-family);
	font-size: var(--fs-p);
	border: 2px solid var(--clr-main-dark);
	background-color: var(--clr-main-dark);
	color: var(--clr-bg);
	cursor: pointer;
}
