.container {
	padding: 10px;
}

.button_back_container {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 50px;
}

.button_back {
	display: flex;
	justify-content: center;
	height: var(--fs-h3);
	width: var(--fs-h3);
	border: none;
	background-color: transparent;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.title {
	margin-bottom: 10px;
}

.label {
	font-size: var(--fs-label);
	color: var(--clr-main-dark);
	font-weight: var(--font-medium);
}

.input {
	border-bottom: 1px solid var(--clr-main-dark);
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	margin-bottom: 20px;
	font-family: var(--font-family);
}

.checkBox {
	margin-top: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.textarea {
	height: 150px;
	padding: 5px 10px;
	border: 1px solid var(--clr-main-dark);
	border-radius: 5px;
	resize: none;
	font-family: var(--font-family);
	font-size: var(--fs-label);
	font-weight: var(--font-medium);
}

.btn_container {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.cancel_btn,
.save_btn {
	padding: 4px 8px;
	border-radius: 5px;
	width: 135px;
	height: 40px;
	font-family: var(--font-family);
	font-size: var(--fs-p);
	cursor: pointer;
}

.cancel_btn {
	border: 2px solid var(--clr-main-dark);
	color: var(--clr-main-dark);
	background-color: transparent;
}

.save_btn {
	border: 2px solid var(--clr-main-dark);
	color: var(--clr-bg);
	background-color: var(--clr-main-dark);
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-shadow-transparent);
	backdrop-filter: blur(3px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	background-color: var(--clr-bg);
	width: 90%;
	max-width: 400px;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
}

.close_sign {
	cursor: pointer;
	position: absolute;
	padding: 2px 5px;
	line-height: 20px;
	right: 1px;
	top: 1px;
	font-size: 30px;
	color: var(--clr-main-dark);
	border: none;
	background-color: transparent;
}

.modal_header {
	margin-top: 10px;
	font-size: var(--fs-h4);
}

.modal_additional_info {
	margin: 20px 0;
}

.actions {
	display: flex;
	justify-content: space-between;
}

.actions_btn {
	text-align: center;
	cursor: pointer;
	height: 40px;
	width: 100px;
	border: none;
	border-radius: 5px;
	font-size: var(--fs-p);
	font-family: var(--font-family);
	font-weight: var(--font-medium);
}

.actions_btn_confirm {
	border: 2px solid var(--clr-main-dark);
	background-color: transparent;
	color: var(--clr-main-dark);
	cursor: pointer;
}

.actions_btn_cancel {
	color: var(--clr-bg);
	background-color: var(--clr-main-dark);
}
