.container {
	width: 100%;
	padding: 10px;
	background-color: var(--clr-main-light-transparent);
	border-radius: 5px;
}

.create_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create_details_container {
	width: 100%;
	border-top-style: solid;
	border-color: var(--clr-main-light);
	display: flex;
	margin-bottom: 10px;
	padding-top: 5px;
	align-items: center;
	justify-content: space-between;
}

.create_details {
	font-size: 0.85rem;
}

.create_btn {
	background-color: var(--clr-main-dark);
	border-radius: 50%;
	border: none;
	width: 25px;
	height: 25px;
	font-weight: bold;
	font-size: 1.2rem;
	color: var(--clr-0);
	text-align: center;
}

.trip {
	list-style-type: none;
}

.buttonBox {
	display: flex;
	justify-content: space-around;
	margin-bottom: 3px;
}

.myTripsLink {
	color: var(--dark);
	width: 50%;
	text-align: center;
	border-bottom-style: solid;
	border-color: var(--clr-main-light);
}

.myTripsLinkActive {
	color: var(--clr-orange);
	border-color: var(--clr-orange);
	border-width: 5px;
}
