.container {
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('/assets/login.png');
	background-position: center top;
	background-size: cover;
}

.form {
	width: 360px;
	height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-bg);
	position: absolute;
	top: 160px;
	padding: inherit;
	border-top-left-radius: 55px;
	border-top-right-radius: 55px;
}

.label {
	margin-top: 10px;
	width: 100%;
	font-size: var(--fs-label);
	color: var(--clr-main-dark);
	font-weight: var(--font-medium);
}

.input {
	height: 45px;
	width: 100%;
	border-bottom: 3px solid var(--clr-main-dark);
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	font-family: var(--font-family);
}

.logo img {
	width: 144px;
	position: relative;
	bottom: 22px;
}

.hints {
	width: -webkit-fill-available;
}

.hints:first-of-type {
	font-size: var(--fs-small-text);
	margin-bottom: 50px;
}

.hints:not(:first-of-type) {
	width: unset;
	font-size: var(--fs-p);
}

.button {
	margin-top: 50px;
	margin-bottom: 50px;
}
