.tripBox {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--clr-bg);
}

.tripLink,
.tripLink:focus,
.tripLink:active {
	color: var(--clr-black);
}

.tripLinkOwned,
.tripLinkOwned:focus,
.tripLinkOwned:active {
	color: var(--clr-black-transparent);
}

.tripLink,
.tripLinkOwned {
	display: grid;
	grid-template-columns: 30% 1fr;
	grid-template-rows: 50px repeat(3, 1fr);
	column-gap: 10px;
}

.tripImgBox {
	grid-column: 1/2;
	grid-row: 1/5;
	border-radius: 5px;
	overflow: hidden;
}

.tripImg,
.defaultTripImg {
	display: block;
	max-height: 150px;
	width: 100%;
	object-fit: cover;
}

.defaultTripImg {
	filter: saturate(70%);
}

.title {
	height: 100%;
	overflow: hidden;
	text-align: left;
}

.oneLine {
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon {
	height: 20px;
	width: 20px;
}
