.tripBox {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--clr-bg);
}

/* .ownedTrip {
	color: var(--clr-main-dark-transparent);
} */

.tripLink,
.tripLink:focus,
.tripLink:active {
	color: var(--clr-black);
}

.tripLinkOwned,
.tripLinkOwned:focus,
.tripLinkOwned:active {
	color: var(--clr-black-transparent);
}

.title {
	text-align: left;
}

.oneLine {
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon {
	height: 20px;
}
