:root {
	/* colors variables */
	--clr-blue-dark: #0000ff;
	--clr-blue-medbium: #3a9efd;
	--clr-blue-light: #bee6ff;
	--clr-bg: #fffffd;

	/* font size variables */
	/* font family variables */
	--font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	width: 100vw;
}

#root {
	width: 100%;
	height: 100%;
}
