:root {
	--clr-bg: #fffffd;
	--clr-orange: hsla(32, 98%, 56%, 1);
	--clr-main-dark: hsla(176, 79%, 15%, 1);
	--clr-main-light: hsla(173, 68%, 44%, 1);

	--font-family: 'Poppins', sans-serif;
	--font-regular: 400;
	--font-medium: 500;

	--fs-h1: 28px;
	--fs-h2: 24px;
	--fs-h3: 20px;
	--fs-label: 15px;
	--fs-p: 16px;
	--fs-small-text: 12px;
	--fs-link: 12px;

	--clr-0: #ffffff;
	--clr-2: #d6d6d6;
	--clr-4: #adadad;
	--clr-6: #7b7b7b;
	--clr-8: #404040;
	--clr-10: #050505;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: var(--font-family);
}

#root {
	width: 100%;
	height: 100%;
}
